<form action = "/payment/results">
  <label for = "APR"> APR </label>
  <input id = "APR" type = "text" name = "user_apr">

  <label for = "years"> Number of Years </label>
  <input id = "years" type = "text" name = "user_years">

  <label for = "principal"> Principal </label>
  <input id = "principal" type = "text" name = "user_principal">


  <button> Calculate monthly payment </button>


</form>
